:sass
  /* #{__FILE__}
  textarea.ui-input-text
    -webkit-box-shadow: none
    border-bottom-width: 0px
    border-left-width: 0px
    border-right-width: 0px
    border-top-width: 0px
    box-shadow: none
    margin-bottom: 0px
    margin-top: 0px
    padding-bottom: 0px
    padding-left: 0px
    padding-right: 0px
    padding-top: 0px
= yield
