:sass
  /* #{__FILE__}
  img.github
    margin-left: 15px
    margin-top: 10px
= RubyApp::Elements::Mobile::Pages::InformationPage.render(:css)
= Pike::Elements::Navigation::BackButton.render(:css)
= yield
