:sass
  /* #{__FILE__}
  div.logon
    background-image: url('/pike/resources/elements/pages/default_page/pike.png')
    background-position: center bottom
    background-size: auto
    background-repeat: no-repeat
    height: 320px
    margin-bottom: 20px
  a.logon
    margin-left: auto
    margin-right: auto
    width: 250px
= RubyApp::Elements::Mobile::Button.render(:css)
= Pike::Elements::Pages::WorkListPage.render(:css)
= yield
