- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      New Messages
    = @clear_button.render(:html) do |element|
      - element.content_for(:html, :link, 'Clear')
  %div{'data-role'  => 'content'}
    = @message_list.render(:html)
