- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    @import '#{File.join(File.dirname(__FILE__), %w[.. colors.sass])}'
    div.content
      > table.properties
        background-color: $properties_background
        border-radius: 10px
        color: $properties_foreground
        margin: 0px 0px 10px 0px
        width: 100%
        tr.property
          > td
            padding: 10px
            vertical-align: top
          > td.name
            border-right: 2px solid $properties_border
            border-bottom: 2px solid $properties_border
            font-weight: bold
            text-align: right
            width: 33%
          > td.name.last
            border-bottom: inherit
          > td.value
            border-bottom: 2px solid $properties_border
            input[type="text"], input[type="email"], textarea
              background: inherit
              border: 0px
              color: inherit
              display: block
              font-size: inherit
              margin-top: 1px
              padding: 0px
              width: 100%
            textarea
              height: 100px
            a
              background-image: url('/pike/resources/elements/pages/properties_page.png')
              background-position: right center
              background-repeat: no-repeat
              color: inherit
              display: block
              font-weight: inherit
              padding-right: 16px
            > div.instructions
              font-size: 10pt
              padding-top: 5px
              > p
                margin: 0px
          > td.value.blank
            color: $blank_foreground
          > td.value.last
            border-bottom: inherit
          > td.buttons
            border-bottom: 2px solid $properties_border
            button
              background-color: $properties_background
              border: 2px solid $button_border
              border-radius: 5px
              color: $button_foreground
              display: inline
              font:
                size: 10pt
                weight: bold
              padding: 5px 10px
            button.delete
              background-color: $delete_background
              border: 2px solid $delete_border
              color: $delete_foreground
          > td.buttons.last
            border-bottom: inherit
= yield
