- self.content_for(:html, :item) do
  /
    #{__FILE__}
  %div.activity
    = self.activity.name
    - if self.activity.copy_of || self.activity.shared?
      %div.details
        Shared by #{self.activity.copy_of ? self.activity.copy_of.user.url : 'you'}
