:sass
  /* #{__FILE__}
  div.ui-input-text
    -webkit-box-shadow: none
    background-color: rgba(0, 0, 0, 0)
    border-bottom-width: 0px
    border-left-width: 0px
    border-right-width: 0px
    border-top-width: 0px
    box-shadow: none
    margin-bottom: 0px
    margin-left: -7px
    margin-top: 0px
    margin-right: -7px
    input.ui-input-text
      padding-bottom: 3px
      padding-top: 3px
= yield
