:sass
  /* #{__FILE__}
  body
    > div.ui-page
      > div.ui-header
        > a.ui-btn
          margin-bottom: 0px
          margin-top: 1px
          > span.ui-btn-inner
            padding-top: 5px
        > h1.ui-title
          margin-bottom: 10px
          margin-top: 10px
      > div.ui-content
        p.instructions
          font-size: 90%
          padding-left: 10px
          padding-right: 10px
          text-align: center
      > div.ui-footer
        padding-bottom: 7px
        padding-left: 10px
        padding-right: 10px
        padding-top: 5px
        div.label
          font-size: 80%
          margin-bottom: 2px
          margin-left: 4px
        div.ui-controlgroup-horizontal
          margin-left: 0px
          margin-right: 0px
= yield
