:sass
  /* #{__FILE__}
  li
    div.property
      > div.shared
        font-size: 10pt
    div.value
      font-size: normal
      font-weight: normal
      margin-bottom: 0px
      margin-right: 10px
      margin-top: 0px
    div.value.shared
      margin-top: 8px
= yield
