/
  #{__FILE__}
%table.properties{:cellspacing => 0}
  - @user.send(@properties).sort.each do |property|
    %tr.property
      %td.name
        = property
      %td.value{:class => @object.read_attribute(property) ? '' : 'blank'}
        - property_link = @property_links[property]
        = property_link.render(:html) do |element|
          - element.content_for(:html, :body, @object.read_attribute(property) || 'tap to enter a value')
  %tr.property
    %td.name.last
      &nbsp;
    %td.buttons.last
      = @add_button.render(:html) do |element|
        - element.content_for(:html, :body, 'Add Property')
