:sass
  /* #{__FILE__}
  ul.work-report
    li.work-report-item.ui-li-has-count
      div.task
        div.activity
          font-size: 80%
        div.note
          font-size: 80%
          font-weight: normal
      span.ui-li-count
        margin-right: 7px
= yield
