:sass
  /* #{__FILE__}
  li.work-list-welcome-item
    div.welcome
      background-image: url('/pike/resources/elements/pages/default_page/pike.png')
      background-position: center left
      background-size: 35px
      background-repeat: no-repeat
      font-size: 120%
      padding-left: 50px
      div.email
        font-size: 60%
= yield
